<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoOrga.DevExpress.SpaceManagement" version="22.1.5.19889" targetFramework="net48" />
  <package id="CoOrga.XAF.Modules.CoreExtensions" version="22.1.5.19892" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>